body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400; }

p {
  font-size: 14px; }

.app_init_state_wraper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }
  .app_init_state_wraper .logo {
    width: 200px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }

.main_side_inner {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  min-height: 100vh; }

.main_header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 20px 10px 0;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  right: 0;
  background: #F2F2F2;
  margin-left: 20px; }
  .main_header .h_title {
    margin: 0 0 0 30px; }

.main_header .mh_right_side {
  display: flex;
  align-items: center;
  gap: 15px; }

.main_header .notification_bar .notification_icon,
.main_header .searchbar .s_icon {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: #6B7280; }

.main_header .profile_dropdown_section {
  display: block;
  position: relative; }
  .main_header .profile_dropdown_section .dropdown_contents {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    padding: 10px;
    z-index: 50000;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: none; }
    .main_header .profile_dropdown_section .dropdown_contents ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .main_header .profile_dropdown_section .dropdown_contents ul li {
        margin: 0;
        padding: 0; }
      .main_header .profile_dropdown_section .dropdown_contents ul li a {
        display: block;
        text-decoration: none;
        white-space: nowrap;
        color: #000;
        padding: 10px 30px;
        cursor: pointer; }
      .main_header .profile_dropdown_section .dropdown_contents ul li a:hover {
        background: #E5E7EB; }
    .main_header .profile_dropdown_section .dropdown_contents .logout_btn {
      background-color: #6B7280;
      text-align: center;
      border-radius: 4px;
      padding: 6px 10px;
      overflow: hidden;
      display: block;
      color: #fff;
      cursor: pointer;
      margin-top: 5px;
      font-size: 15px;
      line-height: 25px; }
      .main_header .profile_dropdown_section .dropdown_contents .logout_btn span {
        font-size: 23px;
        display: block;
        float: left; }

.main_header .profile_dropdown_section:hover .dropdown_contents {
  display: block; }

.main_header .profile_dropdown_section .profile_controler {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #111827; }
  .main_header .profile_dropdown_section .profile_controler .user_name_role {
    padding: 0 5px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 300; }
    .main_header .profile_dropdown_section .profile_controler .user_name_role strong {
      display: block;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.main_header .profile_dropdown_section .profile_controler img {
  width: 40px; }

.main_header .profile_dropdown_section .dp_icon {
  font-size: 30px;
  color: #6B7280; }

.main_header .logout_controller {
  display: block; }

.main_sidebar {
  background: #fff;
  display: block;
  position: sticky;
  width: 250px;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 20px; }

.main_sidebar_inner {
  position: sticky;
  left: 0;
  top: 20px; }

.main_sidebar .main_logo {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  text-decoration: none; }

.main_sidebar .main_logo img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 180px; }

.main_sidebar .sidebar_menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.main_sidebar .sidebar_menu li a {
  display: flex;
  color: #111827;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 15px;
  opacity: 1;
  margin: 2px 0;
  align-items: center;
  gap: 12px; }

.main_sidebar .settings_link img,
.main_sidebar .sidebar_menu li a img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 20px;
  width: auto;
  max-height: 20px; }

.main_sidebar .sidebar_menu li a.active {
  opacity: 1;
  background-color: #E5E7EB;
  color: #111827;
  border-radius: 4px;
  font-weight: 700; }

.main_sidebar .sidebar_menu li a:hover {
  opacity: 1; }

.main_sidebar .settings_link {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 33px;
  color: #6B7280;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px; }

.main_sidebar .settings_link img {
  display: block; }

.main_sidebar .divider {
  background: #D1D5DB;
  display: block;
  height: 2px;
  margin: 20px 0; }

.header_and_main_contents {
  flex: 1;
  margin: 0;
  padding: 0;
  max-width: calc(100% - 240px); }

.main_contents {
  padding: 20px; }

.rs_panel {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px; }

.rs_panel.inner_border {
  border: 1px solid #9CA3AF; }

.rs_border_box_wrapper + .rs_border_box_wrapper {
  margin-top: 30px; }

.rs_border_box_wrapper .rbb_titile {
  font-size: 18px;
  font-weight: 600;
  font-family: Roboto;
  margin: 0 0 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }
  .rs_border_box_wrapper .rbb_titile .rs_btn {
    display: block;
    color: #9CA3AF !important;
    background: transparent !important;
    padding: 0;
    cursor: pointer;
    border: 0 none;
    font-weight: 300; }

.rs_border_box_wrapper .rs_bb_inner {
  border: 1px solid #E5E7EB;
  padding: 20px;
  margin: 0;
  border-radius: 2px; }
  .rs_border_box_wrapper .rs_bb_inner .btn-group {
    display: flex;
    gap: 0;
    border: 1px solid #000;
    border-radius: 4px; }
    .rs_border_box_wrapper .rs_bb_inner .btn-group .rs_btn {
      border-radius: 0;
      width: 50%;
      text-align: center;
      justify-content: center;
      border: 0 none; }

.rs_form_group {
  display: block;
  margin: 0 0 15px 0; }
  .rs_form_group label {
    display: block;
    font-size: 14px;
    color: #9CA3AF;
    font-weight: 400;
    margin: 0 0 2px 0;
    padding-left: 10px; }
  .rs_form_group .form-select,
  .rs_form_group .form-control {
    display: block;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: none !important; }
  .rs_form_group textarea.form-control {
    height: 100px; }
  .rs_form_group p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #111827; }

.with_options .rs_options_box_wraper {
  display: flex; }
  .with_options .rs_options_box_wraper .form-control {
    border-right: 0 none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .with_options .rs_options_box_wraper .rs_option_group {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    gap: 10px;
    padding: 0 10px; }
    .with_options .rs_options_box_wraper .rs_option_group .rs_form_group {
      display: flex;
      align-items: center;
      margin: 0;
      gap: 5px; }
      .with_options .rs_options_box_wraper .rs_option_group .rs_form_group label {
        order: 2;
        padding-left: 5px;
        padding-right: 0; }
  .with_options .rs_options_box_wraper .rs_option_group.disabled {
    border: 0 none; }
    .with_options .rs_options_box_wraper .rs_option_group.disabled .form-check-input {
      opacity: .5; }

.disable_with_border .disable_input {
  display: block;
  min-height: 40px;
  border: 1px solid #9CA3AF;
  color: #9CA3AF;
  border-radius: 4px;
  padding: 8px 10px; }

.input_box_margin_fix .rs_form_group label {
  margin-left: 0;
  padding-left: 0; }

.rs_btn {
  color: #fff;
  background: #062C3E;
  border: 1px solid #062C3E;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 10px; }
  .rs_btn .btn_icon {
    font-size: 14px; }

.rs_btn.btn_disable {
  opacity: .3;
  cursor: not-allowed; }

a.rs_btn {
  display: inline-flex;
  text-decoration: none; }

.rs_btn.inactive,
.rs_btn.bordered {
  background-color: transparent;
  border: 1px solid #6B7280;
  color: #000; }

.rs_btn.inactive {
  opacity: .3; }

.rs_btn.danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff; }

.rs_btn.btn_danger {
  border-color: #dc3545;
  color: #dc3545;
  background-color: transparent; }

.rs_btn.block {
  width: 100%;
  text-align: center;
  justify-content: center; }

.rs_btn.only_icon {
  padding: 8px 10px;
  line-height: 20px; }
  .rs_btn.only_icon .btn_icon {
    font-size: 20px;
    display: block; }

.rs_btn.no_bg {
  background-color: transparent;
  color: #111827;
  border: 0 none; }

.rs_btn.md {
  padding: 8px 20px;
  min-height: 40px; }
  .rs_btn.md .btn_icon {
    font-size: 16px; }

.mr-3 {
  margin-right: 15px; }

.mr-2 {
  margin-right: 10px; }

.filter_and_search {
  display: flex;
  justify-content: space-between;
  gap: 30px; }
  .filter_and_search .left_side {
    display: flex;
    gap: 15px; }
  .filter_and_search .form_s input {
    display: block;
    border: 1px solid #D1D5DB;
    width: 300px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 300; }
  .filter_and_search .rs_dropdown .rs_btn {
    background-color: transparent;
    border: 1px solid #D1D5DB;
    color: #9CA3AF;
    height: 40px;
    width: 140px;
    justify-content: space-between; }

.rs_grid_table {
  font-size: 14px;
  font-weight: 400; }
  .rs_grid_table thead {
    border: 1px solid #D1D5DB; }
    .rs_grid_table thead th {
      padding: 15px 10px; }
    .rs_grid_table thead th + th {
      border-left: 1px solid #D1D5DB; }
    .rs_grid_table thead .header_item {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      font-weight: 300;
      color: #9CA3AF;
      text-transform: uppercase; }
      .rs_grid_table thead .header_item .material-symbols-outlined {
        font-size: 17px; }
  .rs_grid_table tbody tr + tr {
    border-top: 1px solid #D1D5DB; }
  .rs_grid_table tbody tr.selected_row {
    background-color: #F3F4F6; }
  .rs_grid_table tbody td {
    padding: 15px 10px;
    border-color: #9CA3AF;
    background-color: transparent; }
  .rs_grid_table tbody .item_data {
    font-size: 14px;
    font-weight: 300; }
    .rs_grid_table tbody .item_data .material-symbols-outlined {
      font-size: 18px;
      color: #9CA3AF; }
    .rs_grid_table tbody .item_data a {
      text-decoration: none;
      font-weight: 400;
      display: block;
      color: #000; }
    .rs_grid_table tbody .item_data a:hover {
      color: #EA973E; }

.rs_dropdown {
  position: relative; }
  .rs_dropdown ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 100;
    background: #fff;
    top: 100%;
    border-radius: 8px;
    display: none; }
  .rs_dropdown ul li {
    padding: 7px 10px;
    display: flex;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    width: 190px;
    align-items: center;
    color: #000; }
  .rs_dropdown ul li + li {
    border-top: 1px solid #E5E7EB; }
  .rs_dropdown ul li .rs_check {
    border: 1px solid #ccc;
    font-size: 14px;
    display: block;
    width: 15px;
    text-align: center;
    height: 15px;
    border-radius: 4px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    text-indent: 100px; }
  .rs_dropdown ul li.checked .rs_check {
    text-indent: 0px;
    color: #fff;
    border-color: #2C97EB;
    background-color: #2C97EB; }

.rs_dropdown:hover ul {
  display: block; }

.pannel_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.contact_list_form .contact_list_form_item {
  display: flex;
  align-items: center;
  gap: 15px; }
.contact_list_form .contact_list_form_item.ui-sortable-helper {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
.contact_list_form .contact_list_form_item .dragdrop_hanlder {
  padding: 10px 5px;
  cursor: move; }
.contact_list_form .contact_list_form_item .dragdrop_hanlder img {
  height: 30px;
  margin: 0;
  padding: 0;
  display: block;
  width: auto; }
.contact_list_form .contact_list_form_item + .contact_list_form_item {
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #D1D5DB; }
.contact_list_form .border_bottom {
  border-bottom: 1px solid #D1D5DB;
  margin-bottom: 15px;
  padding-bottom: 20px; }

.contact_component .add_new {
  margin-top: 20px; }

.notes_area .notes_items {
  display: block;
  margin: 0;
  padding: 0; }
.notes_area .note_item + .note_item {
  margin-top: 10px; }
.notes_area .note_item .note_header {
  display: block;
  color: #9CA3AF;
  font-weight: 300;
  font-size: 12px; }
.notes_area .note_item .note_header strong {
  font-weight: 300; }
.notes_area .note_item .note_contens {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
.notes_area .create_note_placeholder {
  margin-top: 50px; }
.notes_area .create_note_form {
  margin-top: 50px;
  position: relative; }
  .notes_area .create_note_form .form_btn_sec {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2; }

.rs_file_upload label {
  display: block;
  text-align: center;
  margin: 0;
  height: auto;
  padding: 80px 0;
  cursor: pointer; }
  .rs_file_upload label h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center; }
  .rs_file_upload label .material-symbols-outlined {
    font-size: 40px;
    font-weight: 300;
    display: block;
    margin: 0;
    padding: 0; }

.rs_file_upload.file_drag label {
  background-color: rgba(0, 0, 0, 0.1); }

.search_output_area {
  display: block;
  position: relative; }
  .search_output_area .search_output {
    display: block;
    position: absolute;
    z-index: 10;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px; }
    .search_output_area .search_output ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      max-height: 300px;
      overflow: auto; }
    .search_output_area .search_output ul li {
      display: block;
      padding: 5px 0;
      cursor: pointer;
      font-size: 14px; }
    .search_output_area .search_output ul li:hover {
      color: #EA973E; }
    .search_output_area .search_output ul li + li {
      border-top: 1px solid #9CA3AF; }

.property_category_nav {
  margin: 0 -15px; }

.property_category_nav > div {
  display: block;
  margin: 0;
  padding: 0 15px; }

.property_list_page .rs_panel {
  padding: 0;
  min-height: 100vh; }
.property_list_page .rs_btn:not(.bordered) {
  background-color: #6B7280;
  border-color: #6B7280;
  color: #fff; }
.property_list_page .form-control {
  border-color: #6B7280; }
.property_list_page .topfilter_section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 25px 30px 10px 30px; }
  .property_list_page .topfilter_section .left_items {
    display: flex;
    justify-content: space-between;
    gap: 15px; }
  .property_list_page .topfilter_section .form_s .form-control {
    display: block;
    width: 350px;
    border-color: #6B7280; }
.property_list_page .property_grid_section .pg_header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background-color: #6B7280;
  color: #fff;
  align-items: center;
  padding: 10px 15px; }
  .property_list_page .property_grid_section .pg_header .pg_title {
    font-size: 20px; }
  .property_list_page .property_grid_section .pg_header .rs_btn {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
    padding: 7px 23px;
    font-size: 14px; }
    .property_list_page .property_grid_section .pg_header .rs_btn .btn_icon {
      font-size: 30px;
      line-height: 19px;
      margin: 0;
      width: 20px; }
  .property_list_page .property_grid_section .pg_header .rs_dropdown ul {
    left: auto;
    right: 0; }
.property_list_page .property_grid_section .rs_grid_table {
  margin: 0; }

.rs_file_uploader .media_list {
  display: block; }
.rs_file_uploader .media_list .media_item {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 2px 0;
  overflow: hidden;
  background: #F3F4F6;
  border: 0;
  padding: 8px;
  border-radius: 4px;
  display: block; }
  .rs_file_uploader .media_list .media_item .media_item_text {
    color: #9CA3AF;
    font-size: 14px;
    font-weight: 400;
    float: left; }
  .rs_file_uploader .media_list .media_item .media_item_action {
    padding-right: 0;
    float: right;
    margin-left: 15px; }
    .rs_file_uploader .media_list .media_item .media_item_action a {
      display: block;
      text-decoration: none;
      color: #000;
      border: 1px solid #9CA3AF;
      text-transform: uppercase;
      padding: 3px 10px;
      border-radius: 4px; }
    .rs_file_uploader .media_list .media_item .media_item_action .material-symbols-outlined {
      font-size: 18px; }
.rs_file_uploader .media_list .media_item .media_item_thumbnail {
  width: 50px;
  text-align: center;
  display: block;
  position: relative;
  float: left;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  height: 50px;
  padding-top: 10px;
  color: #F3F4F6; }
.rs_file_uploader .media_list .media_item img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0; }
.rs_file_uploader .media_list .media_item .del_btn {
  position: absolute;
  left: 0;
  top: 0;
  color: red;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 4px;
  font-size: 14px;
  line-height: 14px;
  min-width: 20px;
  text-align: center;
  cursor: pointer; }
.rs_file_uploader .media_list .media_item .file_icon {
  display: block;
  color: #3BBCA1;
  font-size: 30px;
  font-weight: 400; }
.rs_file_uploader .file_size_and_type {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #D1D5DB;
  font-size: 14px;
  padding: 0;
  margin: 10px 0; }

.rs_file_uploader.rs_file_uploader .rs_file_upload {
  border: 2px dashed #D1D5DB9C;
  border-radius: 8px;
  margin-bottom: 20px; }

.grid_status_star {
  display: block;
  position: relative; }
  .grid_status_star .active_icon {
    cursor: pointer;
    display: block; }
    .grid_status_star .active_icon img {
      width: 20px; }
  .grid_status_star span {
    color: #9CA3AF;
    cursor: pointer;
    display: block; }
  .grid_status_star .all_star {
    display: flex;
    position: absolute;
    overflow: hidden;
    left: 23px;
    background: #fff;
    top: -10px;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 8px 11px;
    gap: 7px;
    border-radius: 11px; }
    .grid_status_star .all_star img {
      height: 18px;
      width: auto;
      margin: 0;
      padding: 0; }
  .grid_status_star .all_star span {
    transition: all .2s; }
  .grid_status_star .all_star span:hover {
    transform: scale(1.5); }

.team_access_item {
  align-items: center;
  padding: 5px 0; }
  .team_access_item .row {
    align-items: center; }
  .team_access_item .rs_form_group {
    margin: 0; }

.team_access_item + .team_access_item {
  border-top: 1px solid #9CA3AF; }

.rs_popup_section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px 0; }
  .rs_popup_section .popup_container {
    background-color: #fff;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    overflow: hidden; }
    .rs_popup_section .popup_container .popup_close {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 5px;
      margin-right: 5px;
      cursor: pointer; }
      .rs_popup_section .popup_container .popup_close span {
        display: block;
        font-size: 20px; }
    .rs_popup_section .popup_container .popup_title {
      display: block;
      font-size: 18px;
      font-weight: 500;
      margin: 0 0 20px 0; }
    .rs_popup_section .popup_container .popup_footer {
      border-top: 1px solid #D1D5DB;
      padding-top: 20px;
      margin-top: 20px; }

.center_popup.rs_popup_section {
  display: flex;
  align-items: center;
  justify-content: center; }

.center_popup.inner_popup {
  position: absolute; }

.linked_property .property_links {
  display: block; }
  .linked_property .property_links .p_item {
    margin: 10px 0;
    padding: 5px 0; }
    .linked_property .property_links .p_item .ads_p {
      display: block; }
      .linked_property .property_links .p_item .ads_p a {
        display: block;
        text-decoration: none;
        color: #111827; }
    .linked_property .property_links .p_item .actions_wraper {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px; }
      .linked_property .property_links .p_item .actions_wraper .rs_btn {
        display: block; }
  .linked_property .property_links .p_item:hover .ads_p a {
    color: #9CA3AF; }
  .linked_property .property_links .p_item + .p_item {
    border-top: 1px solid #D1D5DB;
    padding-top: 10px; }

.p_typesubtype_rows {
  display: flex;
  flex-wrap: wrap; }
  .p_typesubtype_rows h4 {
    font-size: 14px;
    font-weight: 500;
    color: #111827; }
  .p_typesubtype_rows .pgroup_subtypes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; }
    .p_typesubtype_rows .pgroup_subtypes .rs_form_group {
      margin: 0; }
  .p_typesubtype_rows .p_group {
    display: block;
    width: 16.66%;
    margin-bottom: 15px; }
    .p_typesubtype_rows .p_group .pgroup_subtypes .pgroup_subtype {
      width: 100%; }
  .p_typesubtype_rows .p_group_full {
    width: 100%;
    border-bottom: 1px solid #D1D5DB;
    padding-bottom: 15px;
    margin-bottom: 15px; }
    .p_typesubtype_rows .p_group_full .pgroup_subtypes .pgroup_subtype {
      width: calc(16.66% - 10px); }

.property_tst_details .ptsd_label {
  display: block;
  font-size: 14px;
  color: #9CA3AF;
  font-weight: 400;
  margin: 0 0 2px 0;
  padding-left: 10px; }
.property_tst_details .ptsd_selected_label_ctl {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 10px 0; }
  .property_tst_details .ptsd_selected_label_ctl .ptsd_selected_label {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #111827; }
    .property_tst_details .ptsd_selected_label_ctl .ptsd_selected_label strong {
      font-weight: 600; }
  .property_tst_details .ptsd_selected_label_ctl img {
    display: block;
    height: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0; }
.property_tst_details .rbb_titile {
  display: none !important; }
.property_tst_details .p_typesubtype_rows .p_group {
  width: calc(33.33% - 10px); }
.property_tst_details .p_typesubtype_rows .p_group_full {
  width: 100%; }
.property_tst_details .p_typesubtype_rows .p_group .pgroup_subtypes .pgroup_subtype {
  width: 100%; }
.property_tst_details .p_typesubtype_rows .p_group_full .pgroup_subtypes .pgroup_subtype {
  width: calc(33.33% - 10px); }
.property_tst_details .rs_border_box_wrapper {
  margin-bottom: 10px; }

.property_accordian .property_accordian_item .pa_header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  cursor: pointer; }
  .property_accordian .property_accordian_item .pa_header div {
    align-items: center;
    font-weight: 700;
    font-size: 16px; }
  .property_accordian .property_accordian_item .pa_header img {
    display: block;
    height: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0; }

.edit_property_form .property_tst_details .ptsd_label {
  padding-left: 0; }

.deal_types_box .deal_type_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between; }
  .deal_types_box .deal_type_list li {
    display: block;
    margin: 0;
    width: calc(25% - 10px);
    text-align: center;
    padding: 25px 15px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #D1D5DB;
    color: #111827; }
  .deal_types_box .deal_type_list li.active {
    background-color: #062C3E;
    color: #fff;
    border-color: #062C3E; }

.upload_client_agl_section {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  justify-content: center;
  padding: 30px 0;
  margin: 0 auto; }
  .upload_client_agl_section .title_subtitle h2 {
    text-align: center; }
  .upload_client_agl_section .title_subtitle p {
    text-align: center; }

.dropbox_selected_value {
  margin-left: 5px;
  text-transform: uppercase; }

.type_subtype_dropdown_section {
  display: block;
  position: relative;
  margin-bottom: 20px; }
  .type_subtype_dropdown_section .controller_title {
    display: block;
    font-size: 14px;
    color: #9CA3AF;
    font-weight: 400;
    margin: 0 0 2px 0;
    padding-left: 10px; }
  .type_subtype_dropdown_section .selector_box .selector_input {
    display: block;
    min-height: 40px;
    border-radius: 4px;
    border: 1px solid #000;
    overflow: hidden;
    padding: 2px; }
    .type_subtype_dropdown_section .selector_box .selector_input p {
      margin: 0;
      padding: 8px 10px;
      color: #111827;
      font-size: 14px;
      font-weight: 400; }
    .type_subtype_dropdown_section .selector_box .selector_input .selected_item {
      display: block;
      overflow: hidden;
      float: left;
      background: #D9D9D9;
      margin: 3px;
      padding: 4px 10px;
      border-radius: 4px;
      font-size: 14px; }
      .type_subtype_dropdown_section .selector_box .selector_input .selected_item .t_name {
        float: left; }
      .type_subtype_dropdown_section .selector_box .selector_input .selected_item .st_name {
        float: left;
        margin-left: 5px; }
      .type_subtype_dropdown_section .selector_box .selector_input .selected_item .material-symbols-outlined {
        float: left;
        font-size: 20px;
        margin-left: 5px;
        font-weight: 300;
        cursor: pointer; }
  .type_subtype_dropdown_section .dropdown_contents {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #000;
    z-index: 100;
    border-top: 0;
    padding: 5px 10px;
    box-sizing: border-box; }
    .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper {
      display: block; }
      .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper h4 {
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 0 0;
        padding: 5px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px; }
        .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper h4 .material-symbols-outlined {
          font-size: 30px;
          width: 22px;
          text-align: center;
          margin-left: -8px;
          position: relative; }
        .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper h4 .arrow_drop_down {
          display: none; }
        .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper h4 .arrow_right {
          display: block; }
      .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper .pgroup_subtypes {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        padding-left: 17px;
        display: none; }
        .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper .pgroup_subtypes .pgroup_input_wraper {
          max-width: 33%;
          width: calc(33% - 13px);
          box-sizing: border-box; }
      .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper .pgroup_input_wraper .form-group {
        margin: 0;
        padding: 0; }
      .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper .pgroup_input_wraper .form-check-label {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 300;
        color: #111827; }
    .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper.active h4 .arrow_drop_down {
      display: block; }
    .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper.active h4 .arrow_right {
      display: none; }
    .type_subtype_dropdown_section .dropdown_contents .type_subtype_group_wraper.active .pgroup_subtypes {
      display: block;
      display: flex; }

.type_subtype_dropdown_section.disable .selector_box .selector_input {
  border: 0 none; }
.type_subtype_dropdown_section.disable .selector_box .selector_input .selected_item {
  background-color: #F0F0F0; }
.type_subtype_dropdown_section.disable .controller_title {
  padding-left: 0; }

.datepicker input {
  background-image: url("/images/icons/calendar.png");
  background-size: auto 50%;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat; }

.class_property_link_types h3 {
  font-size: 20px;
  text-align: center;
  margin: 0 0 10px 0; }
.class_property_link_types div {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  justify-content: center;
  min-height: 50px; }

.follow_up_remainder_module .reminder_list {
  display: block;
  margin: 0 0 20px 0;
  padding: 0; }
  .follow_up_remainder_module .reminder_list .reminder_single_item {
    display: block;
    margin: 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; }
    .follow_up_remainder_module .reminder_list .reminder_single_item .rm_details {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      color: #6B7280; }
    .follow_up_remainder_module .reminder_list .reminder_single_item h3 {
      color: #9CA3AF;
      font-weight: 300;
      font-size: 15px;
      margin: 0 0px 5px 0; }
    .follow_up_remainder_module .reminder_list .reminder_single_item .rm_date {
      color: #9CA3AF;
      font-size: 12px;
      display: block;
      margin: 0 0 15px 0; }
  .follow_up_remainder_module .reminder_list .reminder_single_item + .reminder_single_item {
    margin-top: 5px;
    border-top: 1px solid #D1D5DB;
    padding-top: 15px; }

.follow_up_remainder_form.form_hide {
  display: none; }

.adv_add_new_btn {
  text-align: center;
  display: block;
  padding: 15px 0; }
  .adv_add_new_btn div {
    display: inline-block;
    cursor: pointer;
    margin: 0 auto; }
    .adv_add_new_btn div img {
      width: 40px;
      display: block;
      margin: 0 auto; }
    .adv_add_new_btn div span {
      display: block;
      font-size: 18px;
      color: #D1D5DB;
      margin-top: 5px;
      font-weight: 300;
      text-align: center; }

.property_olders .property_holders_list_item + .property_holders_list_item {
  border-top: 1px solid #D1D5DB;
  margin-top: 16px;
  padding-top: 23px; }
.property_olders .adv_add_new_btn {
  margin-top: 16px;
  border-top: 1px solid #D1D5DB;
  padding-top: 30px; }

.rs_smart_box {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 20px;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 15px; }
  .rs_smart_box .title {
    display: block;
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 10;
    margin: 0 0 20px 0; }
    .rs_smart_box .title span {
      display: block;
      float: right;
      font-size: 25px;
      background: #EA973EAB;
      border-radius: 30px;
      padding: 4px 15px;
      min-width: 80px;
      text-align: center;
      margin-top: -9px; }
  .rs_smart_box .bx_contents {
    position: relative;
    z-index: 10; }
    .rs_smart_box .bx_contents ul {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;
      border-style: inset;
      border-color: rgba(0, 0, 0, 0.2);
      border-width: 3px; }
      .rs_smart_box .bx_contents ul li {
        background: rgba(0, 0, 0, 0.1);
        margin: 0;
        padding: 2px 15px;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .rs_smart_box .bx_contents ul li span {
          font-weight: 700;
          font-size: 20px; }

.rs_smart_box:after,
.rs_smart_box:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 120%;
  background: #fff;
  opacity: 0.3;
  border-radius: 50%;
  bottom: -10%;
  right: -10%; }

.rs_smart_box:after {
  content: "";
  top: -90%;
  right: 2%; }

.dashboard_page .follow_up_reminder_box ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0; }
  .dashboard_page .follow_up_reminder_box ul li {
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .dashboard_page .follow_up_reminder_box ul a {
    display: block;
    text-decoration: none;
    color: #111827;
    transition: all .1s; }
  .dashboard_page .follow_up_reminder_box ul a:hover {
    color: #EA973E; }
  .dashboard_page .follow_up_reminder_box ul li + li {
    border-top: 1px solid #ccc;
    margin: 10px 0 0 0;
    padding-top: 10px; }
  .dashboard_page .follow_up_reminder_box ul .details {
    display: block;
    font-size: 14px; }
  .dashboard_page .follow_up_reminder_box ul .date {
    display: block;
    font-size: 16px;
    text-align: right; }

#ag_section_br_tr_grid .pg_header {
  background-color: #EA973E; }

.deal_pipeline_page .dp_page_header {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center; }
  .deal_pipeline_page .dp_page_header .btn_actions {
    display: block;
    overflow: hidden;
    background: #062C3E;
    color: #fff;
    padding: 5px;
    border-radius: 4px; }
    .deal_pipeline_page .dp_page_header .btn_actions span {
      display: block;
      float: left;
      font-size: 14px;
      text-transform: uppercase;
      padding: 3px 15px;
      border-radius: 4px;
      cursor: pointer; }
    .deal_pipeline_page .dp_page_header .btn_actions .active {
      background-color: #fff;
      color: #111827; }

.deal_pipeline_grid {
  overflow: auto;
  margin: 20px auto; }
  .deal_pipeline_grid .table thead th {
    background-color: #E5E7EB;
    padding: 10px 20px; }
  .deal_pipeline_grid .table thead th + th {
    border-left: 2px solid #D1D5DB; }
  .deal_pipeline_grid .table tbody {
    height: calc(100vh - 300px); }
    .deal_pipeline_grid .table tbody td {
      padding: 20px;
      border-bottom: 0; }
    .deal_pipeline_grid .table tbody td + td {
      border-left: 2px solid #D1D5DB; }
  .deal_pipeline_grid .dpg_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px; }
    .deal_pipeline_grid .dpg_header .name {
      display: block;
      background-color: #062C3E;
      color: #fff;
      padding: 4px 7px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 400; }
    .deal_pipeline_grid .dpg_header .count {
      font-size: 14px;
      font-weight: 400;
      color: #111827; }

.deal_pipeline_grid.style_2 .dpg_header .name {
  background-color: #EA973E;
  color: #fff; }
.deal_pipeline_grid.style_2 .dp_widget .dpw_footer .btn {
  background-color: #EA973E; }

.dp_widget {
  display: block;
  padding: 15px;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
  margin-bottom: 20px; }
  .dp_widget .dpw_title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 0px;
    border-bottom: 1px solid #D1D5DB;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    color: #111827; }
  .dp_widget .dpw_contents {
    display: block;
    font-size: 14px;
    font-weight: 400; }
  .dp_widget .dpw_footer {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
    .dp_widget .dpw_footer .repo_name {
      flex: auto;
      text-align: center; }
      .dp_widget .dpw_footer .repo_name span {
        display: block;
        border: 1px solid #062C3E;
        padding: 5px 8px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500; }
    .dp_widget .dpw_footer .btn {
      display: block;
      background: #062C3E;
      padding: 0;
      margin: 0;
      width: 47px;
      text-align: center;
      height: 33px;
      border-radius: 4px; }
    .dp_widget .dpw_footer .btn img {
      display: block;
      margin: 0 auto;
      margin-top: 0px;
      width: 18px;
      height: auto;
      margin-top: 11px; }

.create_deal_address .row .rs_ads_line_2,
.create_deal_address .row .rs_ads_line_1 {
  width: 25%; }
.create_deal_address .row .rs_ads_zipcode,
.create_deal_address .row .rs_ads_city,
.create_deal_address .row .rs_ads_state,
.create_deal_address .row .rs_ads_country {
  width: 12.5%; }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0; } }
.voice_recoder_section {
  display: inline-block;
  position: fixed;
  right: 30px;
  top: 30%;
  width: 50px;
  height: 50px;
  background: #fff;
  box-shadow: 0 0 5px;
  text-align: center;
  border-radius: 50%;
  z-index: 50; }
  .voice_recoder_section .voice_controller {
    display: block;
    font-size: 36px;
    border-radius: 50px;
    cursor: pointer;
    line-height: 50px;
    position: relative; }

.recording.voice_recoder_section {
  background-color: #d60c0c; }
  .recording.voice_recoder_section .voice_controller {
    color: #fff;
    background-color: #d60c0c; }
  .recording.voice_recoder_section .voice_controller:after {
    display: block;
    content: "";
    background: transparent;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ea1515 ,0 0 0 10px #ea15155e,0 0 0 15px #ea151557;
    animation: pulsate infinite 1.5s; }

.deal_edit_top_bar {
  display: block;
  margin-bottom: 25px; }
  .deal_edit_top_bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  .deal_edit_top_bar li {
    position: relative;
    background-color: #D9D9D9;
    font-size: 16px;
    color: #fff;
    padding: 8px 20px 8px 30px;
    font-weight: 300;
    display: block;
    cursor: pointer; }
    .deal_edit_top_bar li img {
      width: 20px;
      height: 100%;
      position: absolute;
      top: 0;
      left: calc(100% - 10px);
      z-index: 1; }
  .deal_edit_top_bar li:hover,
  .deal_edit_top_bar li.active {
    background-color: #062C3E; }
  .deal_edit_top_bar li:before {
    content: "";
    display: block;
    overflow: hidden; }

.prospects_archive .prospect_list_footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 30px 0;
  position: sticky;
  background: #fff;
  padding: 10px 0;
  z-index: 5;
  bottom: 0;
  left: 0; }
  .prospects_archive .prospect_list_footer .left_items {
    display: flex;
    gap: 10px; }
    .prospects_archive .prospect_list_footer .left_items .rs_form_group {
      margin: 0; }
.prospects_archive .rs_grid {
  min-height: 500px; }

.prospects_import_popup_inner .rs_file_uploader {
  margin-bottom: 15px; }
.prospects_import_popup_inner .rs_form_group label {
  padding-left: 0; }
.prospects_import_popup_inner .popup_footer {
  margin-top: 0; }

.activity_form .activity_form_footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center; }
  .activity_form .activity_form_footer .act_delete,
  .activity_form .activity_form_footer .frm_cancel {
    border: 0 none !important;
    color: #062C3E !important;
    border: 0 none;
    margin-right: 10px;
    background-color: transparent !important; }
  .activity_form .activity_form_footer .act_delete {
    padding: 0;
    font-size: 10px; }
    .activity_form .activity_form_footer .act_delete .btn_icon {
      font-size: 25px; }

.activity_lists .activity_items {
  display: block;
  margin: 0 -20px;
  padding: 0 20px; }
.activity_lists .activity_item {
  display: block;
  padding: 20px 0; }
  .activity_lists .activity_item .activity_type {
    display: inline-block;
    background: #062C3E;
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300; }
  .activity_lists .activity_item .title_date {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px; }
    .activity_lists .activity_item .title_date h3 {
      display: block;
      max-width: 80%;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: 0; }
    .activity_lists .activity_item .title_date span {
      font-size: 12px;
      font-weight: 300; }
      .activity_lists .activity_item .title_date span span {
        font-weight: 200;
        font-size: 14px;
        margin-left: 5px; }
  .activity_lists .activity_item .activity_note {
    font-size: 14px;
    margin-top: 6px;
    display: block;
    font-weight: 300; }
.activity_lists .activity_item + .activity_item {
  border-top: 1px solid #D1D5DB; }
.activity_lists .items_completed {
  border-top: 1px solid #D1D5DB; }
.activity_lists .comp_display_past_activity {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 0px;
  gap: 8px;
  cursor: pointer;
  margin-top: 10px;
  border-top: 1px solid #D1D5DB;
  padding-top: 15px;
  font-weight: 400; }

.activity_widget .widget_activity_list {
  display: block; }
  .activity_widget .widget_activity_list .emty_data {
    text-align: center;
    font-size: 16px;
    color: #D1D5DB;
    margin: 0;
    padding: 30px 0; }
  .activity_widget .widget_activity_list .widget_activity_item {
    display: block;
    padding: 20px;
    margin: 0 -20px;
    cursor: pointer; }
    .activity_widget .widget_activity_list .widget_activity_item h2 {
      display: flex;
      margin: 0 0 5px 0;
      padding: 0;
      justify-content: space-between;
      gap: 10px;
      font-size: 16px; }
      .activity_widget .widget_activity_list .widget_activity_item h2 span {
        font-size: 14px; }
    .activity_widget .widget_activity_list .widget_activity_item .deails_with_date {
      display: flex;
      justify-content: space-between; }
      .activity_widget .widget_activity_list .widget_activity_item .deails_with_date .details p {
        font-size: 14px;
        margin: 0;
        padding: 0; }
      .activity_widget .widget_activity_list .widget_activity_item .deails_with_date .details p + p {
        margin-top: 5px; }
  .activity_widget .widget_activity_list .widget_activity_item:first-child {
    margin-top: -20px; }
  .activity_widget .widget_activity_list .widget_activity_item:last-child {
    margin-bottom: -20px; }
  .activity_widget .widget_activity_list .widget_activity_item + .widget_activity_item {
    border-top: 1px solid #D1D5DB; }

.activity_sidebar_widget {
  position: fixed;
  overflow: auto;
  right: 0;
  bottom: 0;
  max-height: calc(100% - 100px);
  background: #fff;
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: -2px -2px 5px 0 rgba(0, 0, 0, 0.3);
  max-width: 100%; }
  .activity_sidebar_widget .follow_up_actions {
    margin-bottom: 15px; }
  .activity_sidebar_widget .rs_form_group {
    margin: 0 0 10px 0; }
  .activity_sidebar_widget .activity_form_footer {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
    margin: 30px -20px 0 -20px;
    padding: 10px 20px;
    align-items: center; }
    .activity_sidebar_widget .activity_form_footer .act_delete {
      background-color: transparent;
      color: #000;
      padding: 0;
      border: 0 none; }
    .activity_sidebar_widget .activity_form_footer .af_right .frm_cancel {
      background: transparent;
      border: 0 none;
      color: #333;
      padding-right: 0;
      padding-left: 0;
      margin-right: 10px; }

.av_dashboard_top_btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px; }
  .av_dashboard_top_btns p {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px; }

.rs_btn_borders_box {
  border: 1px solid #000000;
  display: inline-block;
  border-radius: 4px; }
  .rs_btn_borders_box .rs_btn {
    background-color: transparent;
    border: 0 none;
    color: #111827;
    border-radius: 0;
    color: #000000; }
  .rs_btn_borders_box .rs_btn + .rs_btn {
    border-left: 1px solid #000000; }
  .rs_btn_borders_box .rs_btn.active {
    color: #fff;
    background-color: #eb984b; }

.contact_name_search_group {
  position: relative; }
  .contact_name_search_group .s_output {
    display: block;
    position: absolute;
    top: calc(100% - 15px);
    background: #fff;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 15px;
    border-radius: 4px; }
    .contact_name_search_group .s_output p {
      margin: 0;
      padding: 8px 0;
      font-size: 14px;
      font-weight: 300;
      display: flex;
      gap: 10px;
      cursor: pointer; }
      .contact_name_search_group .s_output p span {
        color: #9CA3AF; }
    .contact_name_search_group .s_output p + p {
      border-top: 1px solid #E5E7EB; }

.confirm_box_popup h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  display: block; }

.notifyjs-corner {
  margin-top: 70px !important; }

.dropdown_wraper {
  position: relative; }

.rs_address_search_col {
  position: relative;
  z-index: 1; }
  .rs_address_search_col .address_search_result {
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 100;
    background: #fff;
    left: 0;
    top: 100%;
    margin-top: 0;
    border-radius: 4px;
    max-width: 100%; }
    .rs_address_search_col .address_search_result .search_result_dp {
      display: block;
      padding: 10px 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      color: #848484; }
    .rs_address_search_col .address_search_result .search_result_dp:hover {
      background-color: #000;
      color: #fff; }
    .rs_address_search_col .address_search_result .search_result_dp:last-child {
      border-bottom: 0; }

.range_devider span {
  font-size: 30px;
  display: block;
  margin-bottom: 34px;
  border-top: 2px solid #000;
  width: 15px; }

.theme_2 .rs_btn:not(.inactive) {
  background-color: #EA973E;
  border-color: #EA973E;
  color: #fff; }
.theme_2 .deal_edit_top_bar li:hover,
.theme_2 .deal_edit_top_bar li.active {
  background-color: #EA973E;
  border-color: #EA973E;
  color: #fff; }

.footer_sticky_section {
  margin: 30px -30px 0 -30px;
  position: sticky;
  background: #fff;
  padding: 10px 30px;
  z-index: 5;
  bottom: 0;
  left: 0;
  border-top: 2px solid #D1D5DB; }

.share_access_wrapper .share_access_btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #062C3E;
  cursor: pointer; }
.share_access_wrapper .share_access_sidebar {
  position: fixed;
  width: 400px;
  background: #fff;
  bottom: 0;
  right: 0;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  gap: 20px;
  justify-content: space-between; }

/*# sourceMappingURL=globals.css.map */
