body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400; }

p {
  font-size: 14px; }

.main_side_inner {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  min-height: 100vh; }

.main_header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px; }

.main_header .mh_right_side {
  display: flex;
  align-items: center;
  gap: 15px; }

.main_header .notification_bar .notification_icon,
.main_header .searchbar .s_icon {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: #6B7280; }

.main_header .profile_dropdown_section {
  display: flex;
  align-items: center;
  gap: 10px; }

.main_header .profile_dropdown_section .profile_controler {
  display: flex;
  align-items: center;
  gap: 5px; }

.main_header .profile_dropdown_section .profile_controler img {
  width: 40px; }

.main_header .profile_dropdown_section .dp_icon {
  font-size: 30px;
  color: #6B7280; }

.main_sidebar {
  background: #fff;
  display: block;
  position: sticky;
  width: 250px;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 20px; }

.main_sidebar .main_logo {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  text-decoration: none; }

.main_sidebar .main_logo img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 180px; }

.main_sidebar .sidebar_menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.main_sidebar .sidebar_menu li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 5px;
  font-size: 15px;
  opacity: .5;
  margin: 2px 0; }

.main_sidebar .sidebar_menu li a.active {
  opacity: 1;
  background-color: #062C3E;
  color: #fff;
  border-radius: 4px; }

.main_sidebar .sidebar_menu li a:hover {
  opacity: 1; }

.main_sidebar .divider {
  background: #D1D5DB;
  display: block;
  height: 2px;
  margin: 20px 0; }

.header_and_main_contents {
  flex: 1;
  margin: 0;
  padding: 0; }

.main_contents {
  padding: 20px; }

.rs_panel {
  background-color: #fff;
  padding: 30px; }

.rs_border_box_wrapper + .rs_border_box_wrapper {
  margin-top: 30px; }

.rs_border_box_wrapper .rbb_titile {
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto;
  margin: 0 0 10px 0; }

.rs_border_box_wrapper .rs_bb_inner {
  border: 1px solid #E5E7EB;
  padding: 20px;
  margin: 0;
  border-radius: 2px; }

.rs_form_group {
  display: block;
  margin: 0 0 15px 0; }
  .rs_form_group label {
    display: block;
    font-size: 14px;
    color: #9CA3AF;
    font-weight: 400;
    margin: 0 0 2px 0;
    padding-left: 10px; }
  .rs_form_group .form-control {
    display: block;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: none !important; }
  .rs_form_group textarea.form-control {
    height: 100px; }

.input_box_margin_fix .rs_form_group label {
  margin-left: 0;
  padding-left: 0; }

.rs_btn {
  color: #fff;
  background: #000;
  border: 1px solid #000;
  padding: 5px 14px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px; }

a.rs_btn {
  display: inline-block;
  text-decoration: none; }

/*# sourceMappingURL=globals.css.map */
