@import '../scss/variables';
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
p{
    font-size: 14px;
}
.main_site_wrapper{}
.main_side_inner {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    min-height: 100vh;
}
.main_header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
}
.main_header .mh_right_side {
    display: flex;
    align-items: center;
    gap: 15px;
}
.main_header .searchbar{}
.main_header .notification_bar .notification_icon,
.main_header .searchbar .s_icon {
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 25px;
color: #6B7280;
}
.main_header .notification_bar{}
.main_header .notification_bar .notification_icon{}
.main_header .profile_dropdown_section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main_header .profile_dropdown_section .profile_controler {
    display: flex;
    align-items: center;
    gap: 5px;
}
.main_header .profile_dropdown_section .profile_controler img {
    width: 40px;
}
.main_header .profile_dropdown_section .dp_icon {
    font-size: 30px;
    color: #6B7280;
}
.main_sidebar {
    background: #fff;
    display: block;
    position: sticky;
    width: 250px;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    padding: 20px;
}
.main_sidebar .main_logo {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    text-decoration: none;
}
.main_sidebar .main_logo img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 180px;
}
.main_sidebar .sidebar_menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_sidebar .sidebar_menu li{
}
.main_sidebar .sidebar_menu li a{
    display: block;
    color: #333;
    text-decoration: none;
    padding: 8px 5px;
    font-size: 15px;
    opacity: .5;
    margin: 2px 0;
}
.main_sidebar .sidebar_menu li a.active{
opacity: 1;
    background-color: #062C3E;
    color: #fff;
    border-radius: 4px;
}
.main_sidebar .sidebar_menu li a:hover{
opacity: 1;
}
.main_sidebar .divider {
    background: #D1D5DB;
    display: block;
    height: 2px;
    margin: 20px 0;
}
.header_and_main_contents{
    flex:1;
    margin: 0;
    padding: 0;
}
.main_contents{
    padding: 20px;
}
.rs_panel{
    background-color: #fff;
    padding:30px;
    border-radius: 4px;
}
.rs_border_box_wrapper{}
.rs_border_box_wrapper +.rs_border_box_wrapper{
    margin-top: 30px;
}
.rs_border_box_wrapper .rbb_titile {
    font-size: 18px;
    font-weight: 600;
    font-family: Roboto;
    margin: 0 0 10px 0;
}
.rs_border_box_wrapper .rs_bb_inner {
    border: 1px solid $boxBorderColor;
    padding: 20px;
    margin: 0;
    border-radius: 2px;
}
.rs_form_group{
    display: block;
    margin: 0 0 15px 0;
    label{
        display: block;
        font-size: 14px;
        color: #9CA3AF;
        font-weight: 400;
        margin: 0 0 2px 0;
        padding-left: 10px;
    }

    .form-select,
    .form-control{
        display: block;
        height: 40px;
        border: 1px solid #000;
        border-radius: 4px;
        box-shadow: none !important;
    }
    textarea.form-control{
        height: 100px;
    }
}
.input_box_margin_fix .rs_form_group label{
    margin-left: 0;
    padding-left: 0;
}
.rs_btn{
    color: #fff;
    background: #000;
    border: 1px solid #000;
    padding: 5px 14px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    .btn_icon{
        font-size: 14px;
    }
}
a.rs_btn{
    display: inline-flex;
    text-decoration:none;
}
.rs_btn.md{
    padding: 8px 20px;
    .btn_icon{
        font-size: 16px;
    }
}
.filter_and_search{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .left_side{
        display: flex;
        gap: 15px;
    }
    .form_s{
        input{
            display: block;
            border: 1px solid $borderLight;
            width: 300px;
            max-width: 100%;
            font-size: 14px;
            font-weight: 300;
        }
    }
    .rs_dropdown{
        .rs_btn{
            background-color: transparent;
            border: 1px solid $borderLight;
            color: $lightGray;
            height: 40px;
            width: 140px;
            justify-content: space-between;

        }
    }
}

.rs_grid_table{
    font-size: 14px;
    font-weight: 400;
    thead{
        border: 1px solid $borderLight;
        
        tr{}
        th{
            padding: 15px 10px;
        }
        th+th{
            border-left: 1px solid $borderLight;
        }
        .header_item{
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            font-weight: 300;
            color: $lightGray;
            text-transform: uppercase;
            .material-symbols-outlined{
                font-size: 17px;
            }
        }

    }
    tbody{
        tr+tr{
            border-top: 1px solid $borderLight;
        }
        td{
            padding: 15px 10px;

        }
        .item_data{
            font-size: 14px;
            font-weight: 300;
            .material-symbols-outlined{
                font-size: 18px;
                color: $lightGray;
            }
            a{
                text-decoration: none;
                font-weight: 400;
                display: block;
                color: #000;
            }
            a:hover{
                color: $color2nd;
            }
        }

    }
}
.rs_dropdown{
    position: relative;
    ul{
        display: block;
        list-style: none;
        margin: 0;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        position: absolute;
        z-index: 100;
        background: #fff;
        top: 100%;
        border-radius: 8px;
        display: none;
        
    }
    ul li{
        padding: 7px 10px;
        display: flex;
        gap: 8px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        width: 190px;
        align-items: center;
    }
    ul li + li{
        border-top: 1px solid $boxBorderColor;
    }
    ul li .rs_check{
        border: 1px solid #ccc;
        font-size: 14px;
        display: block;
        width: 15px;
        text-align: center;
        height: 15px;
        border-radius: 4px;
        font-weight: 400;
        position: relative;
        overflow: hidden;
        text-indent: 100px;
    }
    ul li.checked .rs_check{
        text-indent: 0px;
        color: #fff;
        border-color: #2C97EB;
        background-color: #2C97EB;
    }
}
.rs_dropdown:hover{
    ul{
        display: block;
    }
}
.pannel_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contact_list_form{
    .contact_list_form_item+.contact_list_form_item{
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid $borderLight;
    }
}
.notes_area{
    .notes_items{
        display: block;
        margin: 0;
        padding:0;
    }
    .note_item{}
    .note_item+.note_item{
        margin-top: 10px;
    }
    .note_item .note_header{
        display: block;
        color: $lightGray;
        font-weight: 300;
        font-size: 12px;
    }
    .note_item .note_header strong{
        font-weight: 300;
    }
    .note_item .note_header span{}
    .note_item .note_contens{
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .create_note_placeholder{
        margin-top: 50px;
    }
    .create_note_form{
        margin-top: 50px;
        position: relative;
        .form_btn_sec{
            position: absolute;
            right: 10px;
            bottom: 10px;
            z-index: 2;
        }
    }
}