/* HTML: */
.loader {
    width: calc(140px / cos(45deg));
    height: 14px;
    --c: #f3f3f3 0 15px,#fff 0 20px;
    background: 
      repeating-linear-gradient(135deg,var(--c)) left top,
      repeating-linear-gradient( 45deg,var(--c)) left bottom;
    background-size:  200% 50%;
    background-repeat: no-repeat;
    animation: l4 5s infinite linear;
}
@keyframes l4 {
    100% {background-position:top right,bottom right}
}